<ion-menu side="start" menuId="prijavljen" contentId="prijavljen">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Prijavljeni meni</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>

        <ion-item routerLink="">   <ion-icon name="home-outline"></ion-icon>Pocetna</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>

        <ion-item routerLink="stanovi"> <ion-icon name="business-outline"></ion-icon>Stanovi</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>

        <ion-item routerLink="pretraga-stanova"> <ion-icon name="search-outline"></ion-icon>Pretraga stanova</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>

        <ion-item routerLink="novi-oglas"> <ion-icon name="add-circle-outline"></ion-icon>Novi oglas</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>

        <ion-item routerLink="termini"> <ion-icon src="../assets/icon/walk-right.svg"></ion-icon>Termini za obilazak</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>

        <ion-item routerLink="termini-poseta"> <ion-icon src="../assets/icon/walk-left.svg"></ion-icon>Termini za posetu</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>

        <ion-item routerLink="log-in"> <ion-icon name="log-in-outline"></ion-icon>Prijava</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>

        <ion-item routerLink="register"> <ion-icon name="person-add-outline"></ion-icon>Registracija</ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>
