<ion-header>
  <ion-toolbar>
    <ion-title>stanovi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center ion-justify-content-center">
  <ion-item>
    <ion-icon name="list-outline"></ion-icon>
  <ion-toggle [(ngModel)]="grid"></ion-toggle>
    <ion-icon name="grid-outline"></ion-icon>
  </ion-item>
<ion-list  *ngIf="!grid">
<app-stan-list-item *ngFor="let stan of stanovi" [stan]="stan"></app-stan-list-item>
</ion-list>

<ion-list id="grid-list" *ngIf="grid">
 <app-stan-grid-item *ngFor="let stan of stanovi" [stan]="stan"></app-stan-grid-item>
</ion-list>
</ion-content>
