
#grid-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

app-stan-grid-item{


}

ion-col{
  border-style: solid;
  border-width: 1.5px;
  border-color: #4d4d4d;
  border-radius: 20px;
  margin: 2px;
}

#error{
  text-align: center;
  vertical-align: center;
  font-size: 25px;
  color: #4d4d4d;
  margin-top: 15px;
}

