<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Pocetni meni</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>

        <ion-item routerLink="">   <ion-icon name="home-outline"></ion-icon>Pocetna</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>

        <ion-item routerLink="stanovi"> <ion-icon name="list-outline"></ion-icon>Stanovi</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>

        <ion-item routerLink="pretraga-stanova"> <ion-icon name="search-outline"></ion-icon>Pretraga stanova</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
