<ion-header>
  <ion-toolbar>
    <ion-title>termini-poseta</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="{{boja(termin.status)}}" *ngFor="let termin of termini">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="{{sirina(termin.status)}}">
            <ion-item lines="none" color="{{boja(termin.status)}}" >
              <ion-icon name="location-outline" size="large"></ion-icon>
              <ion-label class="ion-text-wrap">{{termin.stan.grad + ' ' + termin.stan.adresa + ' ' + termin.stan.broj}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="{{sirina(termin.status)}}" color="{{boja(termin.status)}}">
            <ion-item lines="none" color="{{boja(termin.status)}}" >
              <ion-icon name="time-outline" id="datum-vreme"></ion-icon>
              <ion-item-group>
                <ion-label >{{datum(termin.datum)}}</ion-label>
                <ion-label >{{vreme(termin.datum)}}</ion-label>
              </ion-item-group>
            </ion-item>
          </ion-col>
          <ion-col size="2" color="{{boja(termin.status)}}" *ngIf="termin.status===0">
            <ion-icon color="success" name="checkmark-outline" (click)="potvrdiTermin(termin)"></ion-icon>
            <ion-icon color="danger" name="close-outline" (click)="odbijTermin(termin)"></ion-icon>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
