ion-img{
  height: 210px;
}
 ion-label{
margin-left: 10px;
 }

 #naslov{
   width: 100%;
   display: flex;
   font-size: 20px;
   justify-content: center;
   color: #3a7be0;
   padding: 10px;
 }

 ion-col{
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
 }

 ion-list{
   width: 100%;
   margin: 0;
   padding: 0;
 }

 ion-row{
   padding-right: 20px;
 }

 ion-datetime{
   margin-left: 10px;
 }

 ion-button{
   margin: 10px;
   width: 60%;
   height: 30px;
   font-size: 10px;
 }


