<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stanovi"></ion-back-button>
    </ion-buttons>
    <ion-title>Prikaz informacija o stanu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides>
  <ion-slide *ngFor="let slika of stan.fotografije">
    <ion-img src="{{slika}}"></ion-img>
  </ion-slide>
</ion-slides>

  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-label *ngIf="stan.izdavanje == 'true'" [style]="{'color': '#ed576b', 'font-size':'30px'}">IZDAVANJE</ion-label>
    <ion-label *ngIf="stan.izdavanje == 'false'" [style]="{'color': '#36abe0', 'font-size':'30px'}">PRODAJA</ion-label>
    </ion-row>
    <ion-row>
  <ion-label id="naslov">Osnovne informacije</ion-label>
  <ion-list>
    <ion-item>
      <ion-icon name="map-outline"></ion-icon>

      <ion-label>Grad: {{stan.grad}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Adresa: {{stan.adresa}} {{stan.broj}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/area.svg"></ion-icon>
      <ion-label>Povrsina: {{stan.povrsina}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/euro.svg"></ion-icon>
      <ion-label>Cena: {{stan.cena}}</ion-label>
    </ion-item>
  </ion-list>
      <ion-label id="naslov">Infrastruktura</ion-label>
      <ion-list>
    <ion-item>
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Godina izgradnje: {{stan.godinaIzgradnje}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/open-door.svg"></ion-icon>
      <ion-label>Broj soba: {{stan.brojSoba}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/balcony.svg"></ion-icon>
      <ion-label>Broj terasa: {{stan.brojTerasa}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/stairs.svg"></ion-icon>
      <ion-label>Sprat: {{stan.sprat}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/parking.svg"></ion-icon>
      <ion-label>Parking:</ion-label>
      <ion-icon *ngIf="stan.parking=='da'" size="large" color="success" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="stan.parking=='ne'" size="large" color="danger" name="close-circle-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/flame.svg"></ion-icon>
      <ion-label>Grejanje: {{stan.grejanje}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon src="../assets/icon/accept.svg"></ion-icon>
      <ion-label>Status: {{stan.status}}</ion-label>
    </ion-item>
      </ion-list>
      <ion-label id="naslov">Opis nekretnine</ion-label>
    <ion-item lines="none">
      <ion-icon src="../assets/icon/info.svg"></ion-icon>
      <ion-label>Opis: {{stan.opis}}</ion-label>
    </ion-item>
      <ion-label id="naslov">Kontakt informacije</ion-label>
      <form #Zakazivanje="ngForm" (ngSubmit)="zakaziPosetu(stan.id,stan.grad,stan.adresa,stan.broj,stan.userKontaktBroj,stan.userEmail,
      pretvoriDatumUString(datumGledanja.value),pretvoriVremeUString(vreme.value),'','na cekanju')">
      <ion-list>
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>Broj telefona: {{stan.userKontaktBroj}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>Email: {{stan.userEmail}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>
        <ion-datetime min="{{datum}}" ngModel name="datum" display-format="DD-MMMM-YYYY" placeholder="Izaberite datum" required #datumGledanja="ngModel"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon name="time-outline"></ion-icon>
          <ion-datetime display-format="HH:mm" ngModel name="vreme" placeholder="Izaberite vreme" required #vreme="ngModel"></ion-datetime>
        </ion-item>
  </ion-list>
      <ion-button type="submit" color="success"[disabled]="!Zakazivanje.valid">Zakazite pregled stana</ion-button>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
