#polje{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-icon{
  font-size: 20px;
}

#polje2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aa{
  padding: 0px;
  margin: 0px;
}

ion-avatar{
  width: 60px;
  height: 60px;
  border-style: solid;
}
