<ion-list id="polje" class="ion-align-items-center">
    <ion-avatar slot="start" [style]="{'border-color':boja}" class="ion-justify-content-center">
      <ion-img src="{{stan.fotografije && stan.fotografije[0]}}"></ion-img>
    </ion-avatar>
    <ion-list id="polje2" class="ion-align-items-center">
      <ion-label class="ion-text-wrap" ><ion-icon name="location-outline"></ion-icon>{{stan.grad+ ' ' +stan.adresa+' '+stan.broj}}</ion-label>
      <ion-label>{{stan.povrsina+' '}}<ion-icon src="../assets/icon/area.svg"></ion-icon>
      </ion-label>
      <ion-label>{{stan.brojSoba}}<ion-icon src="../assets/icon/open-door.svg"></ion-icon>
      </ion-label>
      <ion-label>{{stan.cena}}<ion-icon src="../assets/icon/euro.svg"></ion-icon>
      </ion-label>
    </ion-list>
  </ion-list>
