<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pocetna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid>
   <ion-row id="pretraga" class="ion-justify-content-center ion-align-items-center">
    <ion-label>Tražite stan?</ion-label>
     <p>Pogledajte ponudu stanova za izdavanje i prodaju na našem sajtu</p>
     <ion-button color="primary" [routerLink]="'/stanovi'">Pogledajte stanove</ion-button>
   </ion-row>
   <ion-row id="oglas" class="ion-justify-content-center ion-align-items-center">
     <ion-label>Prodajete ili izdajete stan?</ion-label>
     <p >Naš sajt je odlično mesto za Vaš oglas</p>
     <ion-button color="danger" [routerLink]="'/novi-oglas'">Postavite oglas</ion-button>
   </ion-row>
 </ion-grid>
</ion-content>
