#pretraga{
  background-color: #36abe0;
  ion-label{
    color: mediumblue;
    font-size: 30px;
    width: 100%;
  }

}

#oglas{
  background-color: #ed576b;
  ion-label{
    color: darkred;
    font-size: 30px;
    width: 100%;
  }
}

ion-row{
  padding-top: 15%;
  padding-bottom: 15%;
  height: 50%;
}

ion-grid{
  height: 90%;
  margin: 0;
  padding: 0;
}

p{
  text-align: center;
  color: #cccccc;
  font-size: 25px;
}

ion-label{
  text-align: center;
}

ion-button{
  width: 200px;
  height: 40px;
  color: #36abe0;
}



