ion-item{
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-border-width:0;
  margin: 0;
  padding: 0;
  border: none;
  justify-content: center;
}

ion-list{
  font-size:10px;
  text-align: center;
  margin: 0px;
  padding: 0;
  border: none;
  justify-content: center;
}

ion-icon{
  padding-top: 10px;
  font-size: 25px;
}






